.balloon-dialog {
  -fx-background-color: #FFFBC0;
  -fx-border-color: #767676;
  -fx-border-width: 1;
}

.balloon-dialog .header-panel{
  -fx-background-color: #FFFBC0;
}

.balloon-dialog .pane {
  -fx-padding: 15;
}

.balloon-dialog .icon {
  -fx-image: url("/com/cedarsoft/swing/common/dialog/warning.png");
}

.balloon-dialog .headline {
  -fx-font-size: 14;
  -fx-font-weight: bold;
}

.balloon-dialog .message {
}

.balloon-dialog .details-link {
  -fx-focus-traversable: false;
}

.balloon-dialog .close-icon {
  -fx-translate-x: -5;
  -fx-translate-y: 5;
  -fx-cursor: hand;
  -fx-opacity: 0.7;
  -fx-fill: #b40000;
}
.balloon-dialog .close-icon:hover {
  -fx-opacity: 1.0;
}
